{
	"presets": [["@babel/preset-env", { "targets": { "node": true } }]],
	"plugins": [
		[
			"babel-plugin-module-resolver",
			{
				"root": ".",
				"alias": {
					"@models": "./src/database/models",
					"@config": "./src/config"
				}
			}
		]
	]
}
